{% extends '@Common/base.html.twig' %}

{% block head %}
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}
{% block body %}
<div class="common-wrapper" id="app">
    <app></app>
</div>
<script>if (!window.location.origin || /MSIE|Trident/.test(window.navigator.userAgent)) { /*detect IE*/ window.location.href = 'https://browsehappy.com/'; }</script>
{% endblock %}